<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="gridItem" id="inputContainer">
        <input type="text" id="tickerInput" placeholder="Ticker">
        <div id="goButton">→</div>
    </div>
    <div class="gridItem"></div>
    <div class="gridItem"></div>
    <div class="gridItem" id="priceContainer">
        <div class="priceContainerItem" id="currentPrice">Price: </div>
        <div class="priceContainerItem" id="1YPrice">Price in 1Y: </div>
        <div class="priceContainerItem" id="3YPrice">Price in 3Y: </div>
    </div>
    <div class="gridItem" id="EPSContainer">
        <div class="EPSContainerItem" id="lastQuarterEPSGrowth">Last Quarter EPS Growth: </div>
        <div class="EPSContainerItem" id="lastYearEPSGrowth">Last Year EPS Growth: </div>
        <div class="EPSContainerItem" id="last3YearEPSGrowth">Last 3 Years EPS Growth: </div>
    </div>
    <div class="gridItem" id="infoContainer"></p>
    <div class="gridItem" id="marginsContainer"></p>

    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>